body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bolder;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

#btn {
  width: 150px;
  background-color: goldenrod;
  border: none;
  color: black;
  padding-block: 10px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}
