body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bolder;
  margin-top: 2rem;
  text-align: center;
  background-image: url("./images/blackjack.png");
  background-size: cover;
}

h1 {
  color: goldenrod;
  margin-top: 6rem;
  font-size: 2.2rem;
}

.gems {
  font-size: 1.7rem;
}

#message-el {
  font-style: italic;
  font-size: 1.6rem;
}

button {
  display: block;
  margin: 0.5rem auto;
  width: 175px;
  background-color: goldenrod;
  text-transform: uppercase;
  border: none;
  color: #093309;
  padding-block: 10px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}
